@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #FAF0E6;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Georgia', serif; }

.comprar-btn {
  background-color: #800020;
  color: #FFF;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em; }

.comprar-btn:hover {
  background-color: #660019; }

.bodega {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .bodega div {
    width: 50%;
    margin: 10px;
    padding: 20px; }
    .bodega div img {
      width: 100%;
      border-radius: 10px; }
    .bodega div h1 {
      text-align: center;
      margin-top: 50px;
      color: #66001a;
      font-size: 55px;
      font-family: 'Georgia', serif;
      letter-spacing: 2px;
      text-transform: uppercase; }
    .bodega div p {
      color: #000;
      font-size: 20px;
      font-family: 'Georgia', serif;
      line-height: 1.6;
      margin: 20px 10%;
      text-align: justify; }

.destacados {
  padding: 50px 10%;
  background-color: #66001a; }
  .destacados h2 {
    text-align: center;
    margin: 30px;
    color: #fff;
    font-size: 50px;
    font-family: 'Georgia', serif;
    letter-spacing: 2px;
    text-transform: uppercase; }
  .destacados .destacados-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px; }
    .destacados .destacados-container div {
      background-color: #fff;
      border: 1px solid #fff;
      border-radius: 8px;
      padding: 20px;
      text-align: center;
      width: 150px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      display: grid;
      grid-template-rows: auto 1fr auto auto;
      gap: 10px; }
      .destacados .destacados-container div h3 {
        color: #66001a;
        font-size: 17px;
        margin: 0;
        height: 50px; }
      .destacados .destacados-container div img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 8px;
        margin-bottom: 10px; }
      .destacados .destacados-container div p {
        color: #000;
        font-size: 16px;
        margin-bottom: 20px; }
    .destacados .destacados-container div:hover {
      background-color: #eee;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      transform: scale(1.05); }

.productos {
  padding: 25px 10%;
  background-color: #66001a; }
  .productos h1 {
    text-align: center;
    margin: 30px;
    color: #fff;
    font-size: 50px;
    font-family: 'Georgia', serif;
    letter-spacing: 2px;
    text-transform: uppercase; }
  .productos .productos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px; }
    .productos .productos-container div {
      background-color: #fff;
      border: 1px solid #000;
      border-radius: 8px;
      padding: 20px;
      text-align: center;
      width: 200px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      display: grid;
      grid-template-rows: auto 1fr auto auto;
      gap: 10px; }
      .productos .productos-container div h3 {
        color: #66001a;
        font-size: 17px;
        margin: 0;
        height: 50px; }
      .productos .productos-container div img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 8px;
        margin-bottom: 10px; }
      .productos .productos-container div p {
        color: #000;
        font-size: 16px;
        margin-bottom: 20px; }
    .productos .productos-container div:hover {
      background-color: #eee;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      transform: scale(1.05); }

.ofertas {
  padding: 25px 10%;
  background-color: #4d0013; }
  .ofertas h2 {
    text-align: center;
    margin: 30px;
    color: #fff;
    font-size: 50px;
    font-family: 'Georgia', serif;
    letter-spacing: 2px;
    text-transform: uppercase; }
  .ofertas .ofertas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; }
    .ofertas .ofertas-container div {
      background-color: #fff;
      border: 1px solid #000;
      border-radius: 8px;
      padding: 20px;
      text-align: center;
      width: 200px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      display: grid;
      grid-template-rows: auto 1fr auto auto auto;
      gap: 10px; }
      .ofertas .ofertas-container div h3 {
        color: #66001a;
        font-size: 17px;
        margin: 0;
        height: 50px; }
      .ofertas .ofertas-container div img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 8px;
        margin-bottom: 10px; }
      .ofertas .ofertas-container div .precio-comun {
        color: #000;
        font-size: 16px;
        margin-bottom: 0px;
        text-decoration: line-through; }
      .ofertas .ofertas-container div .precio-oferta {
        color: #000;
        font-size: 16px;
        margin-bottom: 0px; }
    .ofertas .ofertas-container div:hover {
      background-color: #eee;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      transform: scale(1.05); }

.nosotros-bienvenida {
  background-color: #4d0013;
  padding: 30px; }
  .nosotros-bienvenida h1 {
    color: #fff;
    font-size: 40px;
    font-family: 'Georgia', serif;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    padding: 10px;
    margin: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); }
  .nosotros-bienvenida div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "p img";
    justify-items: center;
    align-items: center;
    margin: 10px;
    padding: 10px; }
    .nosotros-bienvenida div p {
      color: #fff;
      font-size: 19px;
      font-family: 'Georgia', serif;
      text-align: center;
      line-height: 1.6;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      grid-area: p; }
    .nosotros-bienvenida div img {
      grid-area: img;
      width: 100%;
      max-width: 700px;
      border-radius: 8px; }

.nosotros-historia {
  background-color: #d8cfc4;
  padding: 20px; }
  .nosotros-historia h2 {
    color: #d8cfc4;
    font-family: 'Georgia', serif;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    padding: 10px;
    margin: 5px auto;
    border-bottom: 3px solid #a89f91;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 85%; }
  .nosotros-historia div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "p img";
    margin: 10px;
    padding: 10px;
    justify-items: center;
    align-items: center; }
    .nosotros-historia div p {
      color: #fff;
      font-size: 19px;
      font-family: 'Georgia', serif;
      font-weight: 400;
      font-style: normal;
      text-align: center;
      line-height: 1.6;
      width: 80%;
      margin-left: auto;
      margin-right: auto; }
    .nosotros-historia div img {
      grid-area: img;
      width: 100%;
      max-width: 700px;
      border-radius: 8px; }

.sedes {
  padding: 40px;
  background-color: #f9f9f9;
  color: #333; }
  .sedes h1 {
    font-size: 36px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    color: #66001a; }
  .sedes div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }
    .sedes div h3 {
      font-size: 28px;
      font-family: 'Arial', sans-serif;
      font-weight: bold;
      color: #66001a;
      margin-bottom: 20px; }
    .sedes div p {
      font-size: 18px;
      line-height: 1.6;
      text-align: center;
      margin-bottom: 20px;
      color: #555;
      width: 40%; }
    .sedes div img {
      width: 100%;
      max-width: 600px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }
    .sedes div img:hover {
      transform: scale(1.05); }
  .sedes div:hover {
    transform: scale(0.95);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); }

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9; }
  .formulario h1 {
    color: #66001a;
    font-size: 36px;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-align: center; }
  .formulario form {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 600px; }
    .formulario form div {
      margin-bottom: 15px; }
      .formulario form div label {
        display: block;
        font-weight: bold;
        color: #66001a;
        margin-bottom: 5px; }
      .formulario form div textarea {
        height: 150px; }
      .formulario form div input[type="text"], .formulario form div input[type="email"], .formulario form div input[type="number"], .formulario form div textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 16px; }
      .formulario form div textarea {
        height: 150px; }
      .formulario form div input[type="submit"], .formulario form div input[type="reset"] {
        background-color: #66001a;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        margin-right: 10px; }
      .formulario form div input[type="submit"]:hover, .formulario form div input[type="reset"]:hover {
        background-color: #4d0013; }

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background-color: #333;
  color: #fff;
  padding: 20px; }
  footer div {
    margin: 10px;
    padding: 10px; }
    footer div h3 {
      margin: 10px; }
    footer div a {
      color: white;
      text-decoration: none;
      display: block;
      margin: 10px; }
    footer div a:hover {
      text-decoration: underline; }
    footer div img {
      width: 30px;
      height: 30px;
      margin: 10px; }
  footer .footer-seguinos a {
    display: inline-block; }

@media screen and (max-width: 1600px) {
  .bodega div h1 {
    font-size: 45px; }
  .bodega div p {
    font-size: 22px; }
  .bodega-p2 {
    display: none; } }

@media screen and (max-width: 1200px) {
  .bodega div h1 {
    font-size: 40px; }
  .bodega div p {
    font-size: 18px; } }

@media screen and (max-width: 900px) {
  .bodega div h1 {
    font-size: 30px; }
  .bodega div p {
    font-size: 16px; } }

@media screen and (max-width: 750px) {
  .bodega {
    flex-direction: column; }
  .bodega div {
    width: 80%; } }

@media screen and (max-width: 500px) {
  .bodega div h1 {
    font-size: 25px; }
  .bodega div p {
    font-size: 14px; } }

@media screen and (max-width: 1200px) {
  .destacados h2 {
    font-size: 40px; } }

@media screen and (max-width: 900px) {
  .destacados h2 {
    font-size: 35px; } }

@media screen and (max-width: 500px) {
  .destacados h2 {
    font-size: 30px; } }

@media screen and (max-width: 1200px) {
  .productos h1 {
    font-size: 40px; }
  .ofertas h2 {
    font-size: 40px; } }

@media screen and (max-width: 900px) {
  .productos h1 {
    font-size: 35px; }
  .ofertas h2 {
    font-size: 35px; } }

@media (max-width: 1400px) {
  .nosotros-bienvenida div p {
    font-size: 16px; }
  .nosotros-historia div p {
    font-size: 16px; } }

@media (max-width: 1000px) {
  .nosotros-bienvenida div {
    grid-template-columns: 1fr;
    grid-template-areas: "p" "img"; }
  .nosotros-historia div {
    grid-template-columns: 1fr;
    grid-template-areas: "p" "img"; } }

@media (max-width: 800px) {
  .nosotros-bienvenida h1 {
    font-size: 26px; }
  .nosotros-historia h2 {
    font-size: 26px; } }

@media (max-width: 500px) {
  .nosotros-bienvenida div p {
    font-size: 14px; }
  .nosotros-historia div p {
    font-size: 14px; } }

@media (max-width: 900px) {
  .sedes div p {
    width: 80%; } }

@media (max-width: 1200px) {
  .footer-visitanos div p {
    display: none; }
  .footer-visitanos div a h4 {
    font-size: 20px; } }

@media (max-width: 768px) {
  footer {
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 480px) {
  footer {
    grid-template-columns: 1fr; } }
