/*! PRODUCTOS */

/*? NUESTROS PRODUCTOS */

.productos{
    padding: 50px 10%;
    background-color: #FAF0E6; 
}

.productos h2{
    color: #800020; 
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.productos-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.productos-item{
    background-color: #FFF; 
    border: 1px solid #1C1C1C; 
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    gap: 10px;
}

.productos-item:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.productos-item h3{
    color: #800020; 
    font-size: 17px;
    margin: 0;
    height: 50px;
}

.productos-item img{
    width: 100%;
    height: 100%; 
    object-fit: contain; 
    border-radius: 8px;
    margin-bottom: 10px;
}

.productos-item p{
    color: #1C1C1C; 
    font-size: 1em;
    margin-bottom: 20px;
}

.comprar-btn{
    background-color: #800020; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.comprar-btn:hover{
    background-color: #660019; 
}

/*? OFERTAS */

.ofertas{
    padding: 50px 10%;
    background-color: #2c2c2c; 
}

.ofertas h2{
    color: #f5f5f5; 
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.ofertas-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.ofertas-item{
    background-color: #FFF; 
    border: 1px solid #1C1C1C; 
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-rows: auto 1fr auto auto auto;
    gap: 10px;
}

.ofertas-item:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.ofertas-item h3{
    color: #800020; 
    font-size: 17px;
    margin: 0;
    height: 50px;
}

.ofertas-item img{
    width: 100%;
    height: 100%; 
    object-fit: contain; 
    border-radius: 8px;
    margin-bottom: 10px;
}

.precio-comun{
    color: #1C1C1C; 
    font-size: 1em;
    margin-bottom: 0px; 
    text-decoration: line-through;
}

.precio-oferta{
    color: #1C1C1C; 
    font-size: 1em;
    margin-bottom: 0px; 
}

.comprar-btn{
    background-color: #800020; 
    color: #FFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.comprar-btn:hover{
    background-color: #660019; 
}

@media screen and (max-width: 1200px){
    .productos h2{
        font-size: 2em;
    }
    .ofertas h2{
        font-size: 2em;
    }
}

@media screen and (max-width: 900px){
    .productos h2{
        font-size: 1.5em;
    }
    .ofertas h2{
        font-size: 1.5em;
    }
}

/*! NOSOTROS */

.nosotros{
    background-color: #3a0000;
}

/*? Bienvenida */

.nosotros-bienvenida{
    margin: 20px;
}

.nosotros-bienvenida h2{
    color: #ffffff;
    font-size: 36px;
    font-family: 'Georgia', serif; 
    font-style: italic;
    text-align: center;
    letter-spacing: 1.5px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6); 
    border: 1px solid #E0E0E0; 
    border-radius: 10px; 
    padding: 15px;
}

.nosotros-bienvenida p{
    display: inline-block;
    color: #fff;
    width: 500px;
    font-size: 20px;
    font-weight: 400;
    margin: 10px;
}

.nosotros-bienvenida img{
    display: inline-block;
    width: 700px;
    margin: 10px;
}

/*? HISTORIA */ 

.nosotros-historia {
    margin-top: 20px;
    background-color: #d8cfc4; 
    padding: 20px;
}

.nosotros-historia h2 {
    color: #d8cfc4; 
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 3px solid #a89f91; 
    background-color: #333; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.nosotros-historia-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "p img";
    gap: 20px;
}

.nosotros-historia-item {
    padding: 10px;
}

.nosotros-historia p {
    grid-area: p;
    color: #ffffff; 
    font-size: 18px; 
}

.nosotros-historia img {
    grid-area: img;
    width: 100%; 
    max-width: 600px; 
    border-radius: 8px; 
}

/* Diseño Responsive */
@media (max-width: 768px) {
    .nosotros-historia-container {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "p"
        "img";
    }
}

/*! VISITANOS */

.sedes{
    padding: 40px;
    background-color: #f9f9f9; 
    color: #333;
}

.sedes h2{
    font-size: 36px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    color: #6d3f5b; 
}

.sedes-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    padding: 20px;
    background-color: #fff; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sedes-item h3{
    font-size: 28px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #6d3f5b;
    margin-bottom: 20px;
}
.sedes-item p{
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 20px;
    color: #555;
    width: 40%;
}

.sedes-item img{
    width: 100%;
    max-width: 600px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*! CONTACTO */

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4; 
}

.formulario h2{
    color: #333; 
    font-size: 36px;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-align: center;
}

.formulario form{
    background-color: #fff; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    width: 100%;
    max-width: 600px; 
}

.formulario div{
    margin-bottom: 15px;
}

.formulario label{
    display: block;
    font-weight: bold;
    color: #555; 
    margin-bottom: 5px;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="number"],
.formulario textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.formulario textarea{
    height: 150px;
}

.formulario input[type="submit"],
.formulario input[type="reset"] {
    background-color: #333; 
    color: #fff; 
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

.formulario input[type="submit"]:hover,
.formulario input[type="reset"]:hover {
    background-color: #555; 
}