footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    div{
        margin: 10px;
        padding: 10px;
        h3{
            margin: 10px;
        }
        a{
            color: white;
            text-decoration: none;
            display: block;
            margin: 10px;
        }
        a:hover{
            text-decoration: underline;
        }
        img{
            width: 30px;
            height: 30px;
            margin: 10px;
        }
    }
    .footer-seguinos{
        a{
            display: inline-block;
        }
    }
}