//MAIN
@media screen and (max-width:1600px){
    .bodega div h1{
        font-size: 45px;
    }
    
    .bodega div p{
        font-size: 22px;
    }

    .bodega-p2{
        display: none;
    }
}

@media screen and (max-width:1200px){
    .bodega div h1{
        font-size: 40px;
    }

    .bodega div p{
        font-size: 18px;
    }
}

@media screen and (max-width:900px){
    .bodega div h1{
        font-size: 30px;
    }
    
    .bodega div p{
        font-size: 16px;
    }
}

@media screen and (max-width:750px){
    .bodega{
        flex-direction: column;
    }
    
    .bodega div{
        width: 80%;
    }
}

@media screen and (max-width:500px){
    .bodega div h1{
        font-size: 25px;
    }
    
    .bodega div p{
        font-size: 14px;
    }
}

//DESTACADOS
@media screen and (max-width: 1200px){
    .destacados h2{
        font-size: 40px;
    }
}

@media screen and (max-width: 900px){
    .destacados h2{
        font-size: 35px;
    }
}

@media screen and (max-width: 500px){
    .destacados h2{
        font-size: 30px;
    }
}

//PRODUCTOS

@media screen and (max-width: 1200px){
    .productos h1{
        font-size: 40px;
    }
    .ofertas h2{
        font-size: 40px;
    }
}

@media screen and (max-width: 900px){
    .productos h1{
        font-size: 35px;
    }
    .ofertas h2{
        font-size: 35px;
    }
}

//NOSOTROS

@media (max-width: 1400px){
    .nosotros-bienvenida div p{
        font-size: 16px;
    }
    .nosotros-historia div p{
        font-size: 16px;
    }
}

@media (max-width: 1000px){
    .nosotros-bienvenida div{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "p"
        "img";
    }
    .nosotros-historia div {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "p"
        "img";
    }
}

@media (max-width: 800px){
    .nosotros-bienvenida h1{
        font-size: 26px;
    }
    .nosotros-historia h2{
        font-size: 26px;
    }
}

@media (max-width: 500px){
    .nosotros-bienvenida div p{
        font-size: 14px;
    }
    .nosotros-historia div p{
        font-size: 14px;
    }
}

//VISITANOS

@media (max-width: 900px){
    .sedes div p{
        width: 80%;
    }
}

//FOOTER

@media (max-width: 1200px){
    .footer-visitanos div p{
        display: none;
    }
    .footer-visitanos div a h4{
        font-size: 20px;
    }
}

@media (max-width: 768px){
    footer{
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 480px){
    footer {
        grid-template-columns: 1fr; 
    }
}